REACT_APP_API_URL="https://staging45.advancedpharmacy.eu/two/en/wp-json/wc/v3/orders?consumer_key=ADD_HERE&consumer_secret=ADD_HERE"
REACT_APP_API_URL_TOTAL_SALES="https://staging45.advancedpharmacy.eu/two/en/wp-json/wc/v3/reports/sales?consumer_key=ADD_HERE&consumer_secret=ADD_HERE"