
.App-header {
  min-height: 100vh;
  color: rgb(39, 39, 39);
  scroll-behavior: smooth;
}

.wrapper{
  display: flex;
}

.buttonList{
  display: block;
  width: 250px;
  height: 100vh;
  background: radial-gradient(circle at 10% 20%, rgb(55, 209, 255) 0%, rgba(14, 32, 111, 0.744) 100.2%);
}

.buttonList button{
  width: 94%;
  height: 40px;
  margin: 1.5% 3%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  background: #7169CA;
  color: white;
  font-size: medium;
  font-weight: bolder;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: .25s ease-in-out;
}

.buttonList button:hover{
  border: 2px solid white;
}

.dateWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderTableParent{
  width: 100%;
  text-align: center;
}

.productCount{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 5px;
  width: 100%;
  height: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: radial-gradient(circle at 10% 20%, rgb(55, 209, 255) 0%, rgb(14, 31, 111) 100.2%);
}

.productCount .productCountWrapper{
  width: 18%;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.productCount .productCountWrapper1{
  background-color: #36cd3bf0;
}
.productCount .productCountWrapper2{
  background: #FBBF46;
}
.productCount .productCountWrapper3{
  background-color: #7169CA;
}
.productCount .productCountWrapper4{
  background: #E86E67;
}
.productCount .productCountWrapper5{
  background: #31B4D8;
}

.productCount .productCountWrapper .productCountWrapperNumber div:first-child{
  font-weight: 500;
  font-size: 16px;
}

.companyLogo{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

input{
  margin: 10px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.App-link {
  color: #61dafb;
}

tr, th, td{
padding: 10px;
border: 1px solid gray;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

thead{
  background: radial-gradient(circle at 10% 20%, rgb(49, 188, 230) 0%, rgb(14, 31, 111) 100.2%);
  color: white;
}
table{
  width: 100%;
  overflow: scroll;
}

tbody tr{
  cursor: pointer;
}

.specificData{
  position: fixed;
  top: 45vh;
  left: 45vw;
  background-color: #31B4D8;
}


