
.App-header {
  background: radial-gradient(circle at 12.3% 19.3%, rgb(61, 63, 209) 0%, rgb(53, 90, 105) 100.2%);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 236, 236);
  scroll-behavior: smooth;
}

.orderTableParent{
  margin-top: 15px;
}

.orderDataTable{
  margin-top: 5px;
  border: 1px solid gray;
  display: flex;
}

.orderDataTable div{
   padding: 5px 10px;
}

.orderDataTable div span{
  font-weight: 600;
  color:#1eabec;
}

.erp-dashboard{
  margin: 5px 0 15px 0;
  color: #1eabec;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button, input{
  font-size: large;
  padding: 5px 20px;
  background-color:#1896d0;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: black;
}

button:hover{
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}


