
.App-header {
  /* background: radial-gradient(circle at 12.3% 19.3%, rgb(61, 63, 209) 0%, rgb(53, 90, 105) 100.2%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(39, 39, 39);
  scroll-behavior: smooth;
}

.App-header img {
margin-top: 20px;
}

.dateWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderTableParent{
  margin-top: 15px;
}

.orderDataTable{
  margin-top: 5px;
  border: 1px solid gray;
  display: flex;
}

.orderDataTable div{
   padding: 5px 10px;
}


.buttonList{
  display: flex;
}

button, input{
  margin: 10px 5px;
  font-size: large;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.App-link {
  color: #61dafb;
}

tr, th, td{
padding: 10px;
border: 1px solid gray;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

thead{
  background-color: #44a3d6e2;
  color: white;
}

